<a href="https://colab.research.google.com/github/Maks2811/test_nagaev/blob/main/Spark_RDD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
        .appName("MySparkApp") \
        .config("spark.master", "local[*]") \
        .getOrCreate()

sc = spark.sparkContext

data = [1,2,3,4,5,6,7,8,9,10]
rdd = sc.parallelize(data)

rdd_mapped=rdd.map(lambda x: x*2)           # умножаем все значения на 2
print(rdd_mapped.collect())

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [8]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
        .appName("MySparkApp") \
        .config("spark.master", "local[*]") \
        .getOrCreate()

sc = spark.sparkContext

data = [1,2,3,4,5,6,7,8,9,10]
rdd = sc.parallelize(data)

rdd_mapped=rdd.filter(lambda x: x%2 == 0)           # оставляем только четные значения
print(rdd_mapped.collect())

[2, 4, 6, 8, 10]

In [11]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
        .appName("MySparkApp") \
        .config("spark.master", "local[*]") \
        .getOrCreate()

sc = spark.sparkContext

data = [1,2,3,3,4,4,5,5,6,6,7,8,9,10]
rdd = sc.parallelize(data)

rdd_mapped=rdd.distinct()
print(rdd_mapped.collect())

[2, 4, 6, 8, 10, 1, 3, 5, 7, 9]

In [17]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
        .appName("MySparkApp") \
        .config("spark.master", "local[*]") \
        .getOrCreate()

sc = spark.sparkContext

data1 = [1,2,3,3,4,4,5,5,6,6,7,8,9,10]
data2 = [1,2,3,3,40]
rdd1 = sc.parallelize(data1)
rdd2 = sc.parallelize(data2)
rdd_union = rdd1.union(rdd2)          # Объединяем RDD

print(rdd_union.collect())
print(rdd1.count())               # выводим длину rdd1
print(rdd1.first())               # выводим первый элемент rdd1
print(rdd2.take(3))               # выводим первые три элемента rdd2

[1, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 8, 9, 10, 1, 2, 3, 3, 40]
14
1
[1, 2, 3]

In [18]:
from pyspark.sql import SparkSession
from operator import add

spark = SparkSession.builder \
        .appName("MySparkApp") \
        .config("spark.master", "local[*]") \
        .getOrCreate()

sc = spark.sparkContext

data1 = [1,2,3,3,4,4,5,5,6,6,7,8,9,10]
data2 = [1,2,3,3,40]
rdd1 = sc.parallelize(data1)
rdd2 = sc.parallelize(data2)

print("reduce", rdd2.reduce(add))               # складываем все значепния rdd

reduce 49

In [20]:
from pyspark.sql import SparkSession
from operator import add

spark = SparkSession.builder \
        .appName("MySparkApp") \
        .config("spark.master", "local[*]") \
        .getOrCreate()

sc = spark.sparkContext

data1 = [1,2,3,3,4,4,5,5,6,6,7,8,9,10]
data2 = [1,2,3,3,40]
rdd1 = sc.parallelize(data1)
rdd2.foreach(lambda x: print(x))