<a href="https://colab.research.google.com/github/Maks2811/test_nagaev/blob/main/task_14_10_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 3.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488490 sha256=dac2536a02e4aa7d61c8270be674628b61ce84e6dc05db4804a6c9947e01333f
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [35]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("SQLMovieActors").getOrCreate()
df_movies = spark.read.csv("/content/movies.csv", header=True, inferSchema=True)
df_actors = spark.read.csv("/content/actors.csv", header=True, inferSchema=True)
df_movie_actors = spark.read.csv("/content/movie_actors.csv", header=True, inferSchema=True)

df_movies.printSchema()
df_actors.printSchema()
df_movie_actors.printSchema()

df_movies.show()
df_actors.show()
df_movie_actors.show()


# создаем временные таблицы
df_movies.createOrReplaceTempView("movies")
df_actors.createOrReplaceTempView("actors")
df_movie_actors.createOrReplaceTempView("movie_actors")

# соединяем таблицы
# join_df=spark.sql("""
# SELECT * FROM movies m
# JOIN movie_actors ma ON m.movie_id=ma.movie_id
# JOIN actors a ON ma.actor_id=a.actor_id
# """)

# join_df.show()

# 4.1 Найдите топ-5 жанров по количеству фильмов.

print("Результат 4.1")
spark.sql("""
SELECT genre, count(*) as num_movies
FROM movies
GROUP BY genre
ORDER BY num_movies DESC
LIMIT 5""").show()

# 4.2 Найдите актера с наибольшим количеством фильмов.

print("Результат 4.2")
spark.sql("""
SELECT name, num_movies
FROM
(SELECT name, count(title) as num_movies FROM actors a
JOIN movie_actors ma ON a.actor_id=ma.actor_id
JOIN movies m ON ma.movie_id=m.movie_id
GROUP BY name) as table_1
WHERE num_movies = (SELECT MAX(num_movies) FROM (SELECT name, count(title) as num_movies FROM actors a
JOIN movie_actors ma ON a.actor_id=ma.actor_id
JOIN movies m ON ma.movie_id=m.movie_id
GROUP BY name) as table_1)
""").show()

# 4.3 Подсчитайте средний бюджет фильмов по жанрам.

print("Результат 4.3")
spark.sql("""
SELECT genre, SUM(budget)/COUNT(*) as avg_budget
FROM movies
GROUP BY genre
""").show()

# 4.4 Найдите фильмы, в которых снялось более одного актера из одной страны.
print("Результат 4.4")
spark.sql("""
SELECT title, country, count(name) as num_actors
FROM actors a
JOIN movie_actors ma ON a.actor_id=ma.actor_id
JOIN movies m ON ma.movie_id=m.movie_id
GROUP by title, country
HAVING num_actors >1
""").show()

root
 |-- movie_id: integer (nullable = true)
 |-- title: string (nullable = true)
 |-- genre: string (nullable = true)
 |-- release_date: date (nullable = true)
 |-- budget: double (nullable = true)

root
 |-- actor_id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- birth_date: date (nullable = true)
 |-- country: string (nullable = true)

root
 |-- movie_id: integer (nullable = true)
 |-- actor_id: integer (nullable = true)

+--------+--------+------+------------+-------------+
|movie_id|   title| genre|release_date|       budget|
+--------+--------+------+------------+-------------+
|       1| Movie_1|Horror|  2000-12-31|8.660058311E7|
|       2| Movie_2|Comedy|  2001-12-31|1.274740083E7|
|       3| Movie_3|Action|  2002-12-31| 1.80157747E7|
|       4| Movie_4| Drama|  2003-12-31|4.817612061E7|
|       5| Movie_5| Drama|  2004-12-31| 7.40501611E7|
|       6| Movie_6|Action|  2005-12-31|1.476121831E7|
|       7| Movie_7| Drama|  2006-12-31|4.456703643E7|
|       8| Movie_8| Drama|  2007-12-31|4.880227617E7|
|       9| Movie_9|Action|  2008-12-31|2.201627853E7|
|      10|Movie_10|Action|  2009-12-31|1.244027929E7|
|      11|Movie_11|Comedy|  2010-12-31|8.380567138E7|
|      12|Movie_12|Comedy|  2011-12-31|5.074409933E7|
|      13|Movie_13|Action|  2012-12-31|   2423742.36|
|      14|Movie_14|Sci-Fi|  2013-12-31|8.049514883E7|
|      15|Movie_15| Drama|  2014-12-31|9.809858674E7|
|      16|Movie_16|Comedy|  2015-12-31|6.098669335E7|
|      17|Movie_17| Drama|  2016-12-31|5.086713032E7|
|      18|Movie_18|Horror|  2017-12-31|8.796317044E7|
|      19|Movie_19|Action|  2018-12-31|9.529916218E7|
|      20|Movie_20|Sci-Fi|  2019-12-31|7.569915467E7|
+--------+--------+------+------------+-------------+

+--------+--------+----------+---------+
|actor_id|    name|birth_date|  country|
+--------+--------+----------+---------+
|       1| Actor_1|1960-12-31|   Canada|
|       2| Actor_2|1962-12-31|       UK|
|       3| Actor_3|1964-12-31|       UK|
|       4| Actor_4|1966-12-31|       UK|
|       5| Actor_5|1968-12-31|    India|
|       6| Actor_6|1970-12-31|      USA|
|       7| Actor_7|1972-12-31|    India|
|       8| Actor_8|1974-12-31|Australia|
|       9| Actor_9|1976-12-31|      USA|
|      10|Actor_10|1978-12-31|Australia|
|      11|Actor_11|1980-12-31|      USA|
|      12|Actor_12|1982-12-31|    India|
|      13|Actor_13|1984-12-31|       UK|
|      14|Actor_14|1986-12-31|   Canada|
|      15|Actor_15|1988-12-31|       UK|
|      16|Actor_16|1990-12-31|    India|
|      17|Actor_17|1992-12-31|      USA|
|      18|Actor_18|1994-12-31|       UK|
|      19|Actor_19|1996-12-31|    India|
|      20|Actor_20|1998-12-31|Australia|
+--------+--------+----------+---------+
only showing top 20 rows

+--------+--------+
|movie_id|actor_id|
+--------+--------+
|       1|      25|
|      16|       5|
|       6|      16|
|      16|      11|
|      14|      21|
|       3|       6|
|      15|       9|
|       3|      13|
|       2|      24|
|       1|       8|
|       9|      14|
|       9|      24|
|       7|       1|
|       3|      17|
|      18|      24|
|      11|       5|
|       7|      25|
|       9|       2|
|       1|      25|
|      14|      28|
+--------+--------+
only showing top 20 rows

Результат 4.1
+------+----------+
| genre|num_movies|
+------+----------+
| Drama|         6|
|Action|         6|
|Comedy|         4|
|Horror|         2|
|Sci-Fi|         2|
+------+----------+

Результат 4.2
+--------+----------+
|    name|num_movies|
+--------+----------+
|Actor_17|         5|
|Actor_24|         5|
+--------+----------+

Результат 4.3
+------+--------------------+
| genre|          avg_budget|
+------+--------------------+
| Drama| 6.076021856166667E7|
|Horror|      8.7281876775E7|
|Comedy|     5.20709662225E7|
|Action|2.7492742561666667E7|
|Sci-Fi|       7.809715175E7|
+------+--------------------+

Результат 4.4
+--------+---------+----------+
|   title|  country|num_actors|
+--------+---------+----------+
| Movie_7|    India|         2|
| Movie_3|      USA|         2|
|Movie_10|       UK|         2|
|Movie_15|    India|         2|
|Movie_18|Australia|         2|
| Movie_1|    India|         3|
| Movie_2|      USA|         2|
| Movie_7|      USA|         2|
|Movie_10|      USA|         2|
+--------+---------+----------+