<a href="https://colab.research.google.com/github/Maks2811/test_nagaev/blob/main/task_14_10_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 3.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488490 sha256=19f63a4635bfb13dc176d08018c5d23e455b73d8f4d6918239ed8cb0b886ba5e
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [53]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import to_date, col, sum, mean, count, year, avg

spark = SparkSession.builder \
.appName("book_analytics") \
.getOrCreate()

# создаем датафреймы из csv файлов
#df_book=spark.read.csv("/content/books.csv", header=True, inferSchema=True)
#df_auth=spark.read.csv("/content/authors.csv", header=True, inferSchema=True)
df_book=spark.read.option("header","true").csv("/content/books.csv")
df_auth=spark.read.option("header","true").csv("/content/authors.csv")

#переименовываем колонку author_id во втором датафрейме, чтобы не было дублирующихся названий
df_auth = df_auth.withColumnRenamed("author_id", "auth_id")

# Выводим схемы и сами датафреймы
df_book.printSchema()
df_auth.printSchema()

#df_book.show()
#df_auth.show()

# преобразуем тип данных string в тип даты

df_book = df_book.withColumn("publish_date", to_date(df_book["publish_date"], "yyyy-MM-dd"))
df_auth = df_auth.withColumn("birth_date", to_date(df_auth["birth_date"], "yyyy-MM-dd"))


#df_book = df_book.withColumn("price", col("price").cast("float"))

# проверяем изменения типов данных
df_book.printSchema()
df_auth.printSchema()

# объединяем датафреймы

#join_df = df_book.join(df_auth, on="author_id", how="inner")
join_df = df_book.join(df_auth, df_book.author_id == df_auth.auth_id)

#удаляем фактически дублирующийся столбец auth_id
join_df = join_df.drop("auth_id")

join_df.printSchema()
join_df.show()

# 4.1 находим топ-5 авторов, книги которых принесли наибольшую выручку.

df_41 = join_df.groupBy(["author_id", "name"]).agg(sum("price").alias("total_revenue"))
print("Результат 4.1")
df_41.orderBy(sum("price").desc()).limit(5).show()


# 4.2 находим количество книг в каждом жанре.

genre_df = join_df.groupBy("genre").agg(count("book_id").alias("count"))

print("Результат 4.2")
genre_df.orderBy(count("book_id").desc()).show()

# 4.3 считаем среднюю цену книг по каждому автору.

mean_price = join_df.groupBy(["author_id", "name"]).agg(mean("price").alias("average_price"))
#mean_price = join_df.groupBy(["author_id", "name"]).agg(avg("price").alias("average_price"))

print("Результат 4.3")
mean_price.orderBy(col("average_price").desc()).show()

# 4.4 находим книги, опубликованные после 2000 года, и сортируем их по цене.

df_44 = join_df.filter(year(col("publish_date")) >= 2000).orderBy(col("price").desc())

print("Результат 4.4")
df_44.select(["author_id", "book_id", "title", "genre", "price", "publish_date", "name", "birth_date","country"]).show()

root
 |-- book_id: string (nullable = true)
 |-- title: string (nullable = true)
 |-- author_id: string (nullable = true)
 |-- genre: string (nullable = true)
 |-- price: string (nullable = true)
 |-- publish_date: string (nullable = true)

root
 |-- auth_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- birth_date: string (nullable = true)
 |-- country: string (nullable = true)

root
 |-- book_id: string (nullable = true)
 |-- title: string (nullable = true)
 |-- author_id: string (nullable = true)
 |-- genre: string (nullable = true)
 |-- price: string (nullable = true)
 |-- publish_date: date (nullable = true)

root
 |-- auth_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- birth_date: date (nullable = true)
 |-- country: string (nullable = true)

root
 |-- book_id: string (nullable = true)
 |-- title: string (nullable = true)
 |-- author_id: string (nullable = true)
 |-- genre: string (nullable = true)
 |-- price: string (nullable = true)
 |-- publish_date: date (nullable = true)
 |-- name: string (nullable = true)
 |-- birth_date: date (nullable = true)
 |-- country: string (nullable = true)

+-------+-------+---------+-----------+-----+------------+---------+----------+---------+
|book_id|  title|author_id|      genre|price|publish_date|     name|birth_date|  country|
+-------+-------+---------+-----------+-----+------------+---------+----------+---------+
|      1| Book_1|        2|    Mystery|73.57|  1980-12-31| Author_2|1965-12-31|   Canada|
|      2| Book_2|        1|Non-Fiction| 41.1|  1982-12-31| Author_1|1960-12-31|    India|
|      3| Book_3|       10|    Fiction|10.63|  1984-12-31|Author_10|2005-12-31|    India|
|      4| Book_4|        9|Non-Fiction|46.31|  1986-12-31| Author_9|2000-12-31|Australia|
|      5| Book_5|        7|    Science|31.13|  1988-12-31| Author_7|1990-12-31|      USA|
|      6| Book_6|        4|Non-Fiction| 83.7|  1990-12-31| Author_4|1975-12-31|       UK|
|      7| Book_7|        6|Non-Fiction|40.36|  1992-12-31| Author_6|1985-12-31|      USA|
|      8| Book_8|        2|Non-Fiction|84.48|  1994-12-31| Author_2|1965-12-31|   Canada|
|      9| Book_9|        7|    Fantasy|10.05|  1996-12-31| Author_7|1990-12-31|      USA|
|     10|Book_10|        2|    Science| 37.7|  1998-12-31| Author_2|1965-12-31|   Canada|
|     11|Book_11|       10|Non-Fiction| 31.7|  2000-12-31|Author_10|2005-12-31|    India|
|     12|Book_12|        8|Non-Fiction|31.02|  2002-12-31| Author_8|1995-12-31|Australia|
|     13|Book_13|        8|Non-Fiction|16.14|  2004-12-31| Author_8|1995-12-31|Australia|
|     14|Book_14|        1|    Fiction|26.84|  2006-12-31| Author_1|1960-12-31|    India|
|     15|Book_15|        8|    Fantasy| 60.0|  2008-12-31| Author_8|1995-12-31|Australia|
|     16|Book_16|        2|    Fiction|36.22|  2010-12-31| Author_2|1965-12-31|   Canada|
|     17|Book_17|        6|    Fantasy|47.57|  2012-12-31| Author_6|1985-12-31|      USA|
|     18|Book_18|        1|Non-Fiction|43.92|  2014-12-31| Author_1|1960-12-31|    India|
|     19|Book_19|        5|    Science|88.83|  2016-12-31| Author_5|1980-12-31|      USA|
|     20|Book_20|        7|    Mystery|91.48|  2018-12-31| Author_7|1990-12-31|      USA|
+-------+-------+---------+-----------+-----+------------+---------+----------+---------+

Результат 4.1
+---------+--------+-------------+
|author_id|    name|total_revenue|
+---------+--------+-------------+
|        2|Author_2|       231.97|
|        7|Author_7|       132.66|
|        1|Author_1|       111.86|
|        8|Author_8|       107.16|
|        5|Author_5|        88.83|
+---------+--------+-------------+

Результат 4.2
+-----------+-----+
|      genre|count|
+-----------+-----+
|Non-Fiction|    9|
|    Science|    3|
|    Fiction|    3|
|    Fantasy|    3|
|    Mystery|    2|
+-----------+-----+

Результат 4.3
+---------+---------+-----------------+
|author_id|     name|    average_price|
+---------+---------+-----------------+
|        5| Author_5|            88.83|
|        4| Author_4|             83.7|
|        2| Author_2|          57.9925|
|        9| Author_9|            46.31|
|        7| Author_7|            44.22|
|        6| Author_6|           43.965|
|        1| Author_1|37.28666666666667|
|        8| Author_8|            35.72|
|       10|Author_10|           21.165|
+---------+---------+-----------------+

Результат 4.4
+---------+-------+-------+-----------+-----+------------+---------+----------+---------+
|author_id|book_id|  title|      genre|price|publish_date|     name|birth_date|  country|
+---------+-------+-------+-----------+-----+------------+---------+----------+---------+
|        7|     20|Book_20|    Mystery|91.48|  2018-12-31| Author_7|1990-12-31|      USA|
|        5|     19|Book_19|    Science|88.83|  2016-12-31| Author_5|1980-12-31|      USA|
|        8|     15|Book_15|    Fantasy| 60.0|  2008-12-31| Author_8|1995-12-31|Australia|
|        6|     17|Book_17|    Fantasy|47.57|  2012-12-31| Author_6|1985-12-31|      USA|
|        1|     18|Book_18|Non-Fiction|43.92|  2014-12-31| Author_1|1960-12-31|    India|
|        2|     16|Book_16|    Fiction|36.22|  2010-12-31| Author_2|1965-12-31|   Canada|
|       10|     11|Book_11|Non-Fiction| 31.7|  2000-12-31|Author_10|2005-12-31|    India|
|        8|     12|Book_12|Non-Fiction|31.02|  2002-12-31| Author_8|1995-12-31|Australia|
|        1|     14|Book_14|    Fiction|26.84|  2006-12-31| Author_1|1960-12-31|    India|
|        8|     13|Book_13|Non-Fiction|16.14|  2004-12-31| Author_8|1995-12-31|Australia|
+---------+-------+-------+-----------+-----+------------+---------+----------+---------+